<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Your page description here">
    <meta name="author" content="Your Name">

    <title>Document</title>
</head>
<body>

    <h1>New Hisaab</h1>
    <form action="/" method="POST">
        <textarea type="text" placeholder="enter today's hisaab" name="hisaabtext" rows="5" cols="35"></textarea>
        <br><br>
        <input type="submit" value="create"></input>
    </form>
    

</body>
</html>