<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Your page description here">
    <meta name="author" content="Your Name">

    <title>Document</title>
</head>
<body>

    <h1>Hi myself Umar</h1>

</body>
</html>