<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>MY PROFILE</h1>
    <p>NAME : <%=data.name%></p>
    <p>EMAIL : <%=data.email%></p>
    <p>AGE : <%=data.age%></p>

</body>
</html>